body {
	/*background-color: pink;*/
	font-family: Tahoma,Helvetica,Verdana,sans-serif !important;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

/*@media for mobile is default*/

	.navbar {
		background-color: transparent;
		border: none;
		padding: 10px;
	}

		span.brand-name {
			display: none;
			color: #DC5D17;
			font-weight: 700;
			letter-spacing: 2px;
		}

		.sign-up {
			float: right;
			padding: 10px;
			font-size: 1em;
			font-weight: 700;
			color: #fff;
			height: 100%;
			background-color: rgba(255,255,255,.2);
			border-radius: 10px;
		}

		.scrolled {
			background-color: rgba(255,255,255,.8);

			transition: all .2s ease-in;
				-webkit-transition: all .2s ease-in;
				-moz-transition: all .2s ease-in;
		}
			.scrolled span.brand-name {
				display: inline;
			}

			.scrolled a.sign-up {
				color: #444;
				background-color: transparent;
				border: 1px solid rgba(0,0,0,.2);
				transition: all .2s ease-in;
					-webkit-transition: all .2s ease-in;
					-moz-transition: all .2s ease-in;
			}

	/*//CTA button types*/
	.main-CTA {
		padding: 20px;
		text-align: center;
	}

	.read_blog {
		font-size: 1.2em;
	}

	.leftPic {
		background-image: url(../imgs/vince_casual.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 447px;
		box-shadow: inset 0 -130px 200px -50px rgba(0,0,0,.5);
	}

	.hide {
		display: block !important;
	}
		.hide-for-mobile {
			display: none;
		}

	/*// bio container*/
	.bio {
		font-size: 16px;
		color: #8c8c8c;
		line-height: 22px;
		word-wrap: break-word;
		margin-bottom: 40px;
	}

	.bio p {
		margin-bottom: .75em;
	}

	/*// title*/
	.name-container {
		padding-top: 370px;
		text-align: center;
	} 
		.name {
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0,0,0,.7);
			font-size: 1.2em;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1.2;
			letter-spacing: 2px;
			margin-bottom: 5px;
		}
		.title {
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0,0,0,.7);
			font-size: 1em;
			font-weight: 700;
			line-height: 1.2;
			margin: 0px;
		}

/*////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
	

	.hide {
		display: none !important;
	}
		.hide-for-mobile {
			display: block;
		}

	span.brand-name {
		display: inline;
		color: #fff;
	}
		span.brand-name #slice-url {
			margin-left: 2px;
		}

		a, .brand-name:hover {
			color: #eee;
			text-decoration: none !important;
		}

	.sign-up {
		color: #444;
		background-color: transparent;
		border: 1px solid rgba(0,0,0,.2);
	}

	/*//CTA button types*/
	.main-CTA {
		padding: 20px 0 20px 0;
		text-align: left;
	}

	.read_blog {
		font-size: 1.2em;
	}

	/*// title*/
	.name-container {
		padding-top: 0px;
		text-align: left;
	} 
		.name {
			color: #444;
			text-shadow: none;
			font-size: 1.6em;
		}
		.title {
			color: #888;
			text-shadow: none;
			font-size: 1.4em;
			font-weight: normal;
			line-height: 1.4;
			margin: 0px;
		}

	.leftPic {
		background-size: cover;
		height: 100vh;
	}

	.right-wrap {
		padding: 100px 60px;
	}

	.rightContent {
		/*background-color: pink;*/
		min-height: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
			-webkit-box-align : center;
			-webkit-align-items : center;
			-moz-box-align : center;
			-ms-flex-align : center;
	}

} /*// END for tablets & up*/